@model GorProj.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronymicEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronymicEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthdayEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthdayEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAppointmentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAppointmentNavigation.IdAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmployeeStatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmployeeStatusNavigation.IdEmployeeStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmployee" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
