@model GorProj.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronymicEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronymicEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthdayEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthdayEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAppointmentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAppointmentNavigation.IdAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmployeeStatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmployeeStatusNavigation.IdEmployeeStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEmployee">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
